<div class="container">
	<h1>高级查询</h1>
	<hr>
	<div class="input-area">
		<div class="flex">
			<select id="searchtype">
				<option value="product_type">产品类型</option>
				<option value="std_type">标准类型</option>
				<option value="std_level">标准层级</option>
				<option selected value="std_time">出版年限</option>
				<option value="std_status">标准状态</option>
			</select>
			<select id="searchsubtype">
			</select>
			<input id="searchvalue" type="text" value="" placeholder="请输入查询关键字"/>
			<button id="searchbutton">查询</button>
		</div>
	</div>
	<hr>
	<div id="searchresult" class="search-result-area">
		
	</div>
</div>