<div class="container">
	<h1>标准体系结构图</h1>
	<hr>
	<div class="list">
		<h3>通用标准</h3>
		<div class="triple">
			<img src="templates/img/modify/TongYongBiaoZhun.png" />
		</div>
		<h3>材料</h3>
		<div class="triple">
			<img src="templates/img/modify/CaiLiaoTongYongBiaoZhun.png" />
			<img src="templates/img/modify/ChenDiCaiLiao.png" />
			<img src="templates/img/modify/FaGuangCaiLiao.png" />
		</div>
		<h3>芯片和器件</h3>
		<div class="triple">
			<img src="templates/img/modify/WaiYanPian.png" />
			<img src="templates/img/modify/XinPian.png" />
			<img src="templates/img/modify/Qijian.png" />
		</div>
		<h3>照明设备和系统</h3>
		<div class="triple">
			<img src="templates/img/modify/LEDMoKuai.png" />
			<img src="templates/img/modify/LEDGuangyuan.png" />
			<img src="templates/img/modify/DengYongFuJian.png" />
		</div>
		<div class="triple">
			<img src="templates/img/modify/DengtouDengZuo.png" />
			<img src="templates/img/modify/DengJu.png" />
			<img src="templates/img/modify/ZhaoMingXiTong.png" />
		</div>
	</div>
	<hr>
</div>