<div class="container">
	<h1>标准体系结构图</h1>
	<hr>
	<div class="list">
		<img src="templates/img/std.png" class="stdimage" usemap="#stdimagemap"/>
	</div>
	<map name="stdimagemap">
		<area shape="rect" coords="142,357,167,426" href="?advancesearch&type=-1,0&autosearch" alt="通用标准" />
		<area shape="rect" coords="241,55,324,95" href="?advancesearch&type=-1,1&autosearch" alt="材料" />
		<area shape="rect" coords="346,1,432,43" href="?advancesearch&type=-1,1,0&autosearch" alt="材料通用标准" />
		<area shape="rect" coords="346,55,432,97" href="?advancesearch&type=-1,1,1&autosearch" onmouseover="display('ChendiCailiao.png')" onmouseout="hide()" alt="衬底材料" />
		<area shape="rect" coords="346,109,432,150" href="?advancesearch&type=-1,1,2&autosearch" onmouseover="display('FaguangCailiao01.png')" onmouseout="hide()" alt="发光材料" />
		<area shape="rect" coords="241,227,324,268" href="?advancesearch&type=-1,2&autosearch" alt="芯片与器件" />
		<area shape="rect" coords="346,172,432,214" href="?advancesearch&type=-1,2,0&autosearch" onmouseover="display('WaiYanPian01.png')" onmouseout="hide()" alt="外延片" />
		<area shape="rect" coords="346,227,432,267" href="?advancesearch&type=-1,2,1&autosearch" onmouseover="display('Chip.png')" onmouseout="hide()"alt="芯片" />
		<area shape="rect" coords="346,280,432,322" href="?advancesearch&type=-1,2,2&autosearch" onmouseover="display('QiJian01.png')" onmouseout="hide()"alt="器件" />
		<area shape="rect" coords="241,464,324,505" href="?advancesearch&type=-1,3&autosearch" alt="照明设备和系统" />
		<area shape="rect" coords="346,344,432,388" href="?advancesearch&type=-1,3,0&autosearch" onmouseover="display('LED_Modlue01.png')" onmouseout="hide()" alt="LED模块" />
		<area shape="rect" coords="346,400,432,441" href="?advancesearch&type=-1,3,1&autosearch" onmouseover="display('LED_GY01.png')" onmouseout="hide()"alt="LED光源" />
		<area shape="rect" coords="346,452,432,495" href="?advancesearch&type=-1,3,2&autosearch" onmouseover="display('DengYongFujian.png')" onmouseout="hide()" alt="灯用附件" />
		<area shape="rect" coords="346,506,432,548" href="?advancesearch&type=-1,3,3&autosearch" onmouseover="display('DengtouDengzuo01.png')" onmouseout="hide()" alt="灯头灯座" />
		<area shape="rect" coords="346,561,432,602" href="?advancesearch&type=-1,3,4&autosearch" onmouseover="display('Dengju.png')" onmouseout="hide()" alt="灯具" />
		<area shape="rect" coords="346,614,432,656" href="?advancesearch&type=-1,3,5&autosearch" onmouseover="display('ZhaoMingXT.png')" onmouseout="hide()" alt="照明系统" />
	</map>
	<div id="imagearea">
		<img style="height: 200px" id="image" />
	</div>
	<hr>
</div>