<div class="container">
	<h1>标准体系结构图</h1>
	<hr>
	<div class="list">
		<ul class="list">
			<li><a href="?advancesearch&type=0">国内标准</a></li>
			<ul>
				<li><a href="?advancesearch&type=0,0">通用标准</a></li>
				<li><a href="?advancesearch&type=0,1">材料</a></li>
					<ul>
						<li><a href="?advancesearch&type=0,1,0">材料通用标准</a></li>
						<li><a href="?advancesearch&type=0,1,1">衬底材料</a></li>
						<li><a href="?advancesearch&type=0,1,2">发光材料</a></li>
					</ul>
				<li><a href="?advancesearch&type=0,2">芯片与器件</a></li>
					<ul>
						<li><a href="?advancesearch&type=0,2,0">外延片</a></li>
						<li><a href="?advancesearch&type=0,2,1">芯片</a></li>
						<li><a href="?advancesearch&type=0,2,2">器件</a></li>
					</ul>
				<li><a href="?advancesearch&type=0,3">照明设备和系统</a></li>
					<ul>
						<li><a href="?advancesearch&type=0,3,0">LED模块</a></li>
						<li><a href="?advancesearch&type=0,3,1">LED光源</a></li>
						<li><a href="?advancesearch&type=0,3,2">灯用附件</a></li>
						<li><a href="?advancesearch&type=0,3,3">灯头灯座</a></li>
						<li><a href="?advancesearch&type=0,3,4">灯具</a></li>
						<li><a href="?advancesearch&type=0,3,5">照明系统</a></li>
					</ul>
				<li><a href="?advancesearch&type=0,4">其他</a></li>
			</ul>
		</ul>
		<ul class="list">
			<li><a href="?advancesearch&type=1">国外标准</a></li>
			<ul>
				<li><a href="?advancesearch&type=1,0">通用标准</a></li>
				<li><a href="?advancesearch&type=1,1">材料</a></li>
					<ul>
						<li><a href="?advancesearch&type=1,1,0">材料通用标准</a></li>
						<li><a href="?advancesearch&type=1,1,1">衬底材料</a></li>
						<li><a href="?advancesearch&type=1,1,2">发光材料</a></li>
					</ul>
				<li><a href="?advancesearch&type=1,2">芯片与器件</a></li>
					<ul>
						<li><a href="?advancesearch&type=1,2,0">外延片</a></li>
						<li><a href="?advancesearch&type=1,2,1">芯片</a></li>
						<li><a href="?advancesearch&type=1,2,2">器件</a></li>
					</ul>
				<li><a href="?advancesearch&type=1,3">照明设备和系统</a></li>
					<ul>
						<li><a href="?advancesearch&type=1,3,0">LED模块</a></li>
						<li><a href="?advancesearch&type=1,3,1">LED光源</a></li>
						<li><a href="?advancesearch&type=1,3,2">灯用附件</a></li>
						<li><a href="?advancesearch&type=1,3,3">灯头灯座</a></li>
						<li><a href="?advancesearch&type=1,3,4">灯具</a></li>
						<li><a href="?advancesearch&type=1,3,5">照明系统</a></li>
					</ul>
				<li><a href="?advancesearch&type=1,4">其他</a></li>
			</ul>
		</ul>
	</div>
	<hr>
</div>