<div class="container">
	<h1>浏览标准</h1>
	<hr>
	<table>
		<tr><td>标准编号</td><td colspan="2">%StdNum%</td><td><button>阅读全文</button>%modify%</td></tr>
		<tr><td>标准层级</td><td>%StdLevel%</td><td>行业分类</td><td>%Category%</td></tr>
		<tr><td>中文名称</td><td colspan="3">%ChName%</td></tr>
		<tr><td>英文名称</td><td colspan="3">%EnName%</td></tr>
		<tr><td>发布日期</td><td>%ReleaseDate%</td><td>实施日期</td><td>%ImpelementDate%</td></tr>
		<tr><td>标准状态</td><td>%StdStatus%</td><td>代替标准</td><td>%AlterStandard%</td></tr>
		<tr><td>采标号</td><td colspan="3">%AdoptNo%</td></tr>
		<tr><td>采标名称</td><td colspan="3">%AdoptName%</td></tr>
		<tr><td>采标程度</td><td>%AdoptLev%</td><td>采标类型</td><td>%AdoptType%</td></tr>
		<tr><td>ICS</td><td>%ICS%</td><td>CCS</td><td>%CCS%</td></tr>
		<tr><td>标准类型</td><td>%StandardType%</td><td>产品类型</td><td>%ProductType%</td></tr>
		<tr><td>主管部门</td><td colspan="3">%DepartCharge%</td></tr>
		<tr><td>归口单位</td><td colspan="3">%DepartResponse%</td></tr>
		<tr><td>公告号</td><td colspan="3"><a href="%CtnLink%" target="_blank">%AnnounceNum%</td></tr>
		<tr><td>摘要信息</td><td style="width:85%; white-space: pre-line" colspan="3">%Abstract%</td></tr>
	</table>
	<hr>
</div>