/* 移动端上 */
@media(max-width: 420px) {
	div.footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	div.footer-item {
		width: 100%;
	}
}

/* 普通显示 */
@media(min-width: 800px) {
	/* 
	header颜色 	#386c90		确认按钮颜色	#12cc12
	nav颜色 	#DDD		重置按钮颜色	#fb5e5e
	footer颜色	#333		返回按钮颜色	#BBB
	*/
	body {
		margin: 0;
		font-family: "微软雅黑";
	}
	
	/* a标签修改 */
	a {
		text-decoration: none;
		color: inherit;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	/* header */
	header {
		width: 100%;
		background-color: #386c90;
		color: #FFF;
	}
	
	header div.header-container {
		margin-left: auto;
		margin-right: auto;
		line-height: 20px;
		font-size: 12px;
		width: 800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	header div.header-container span.header-left {
		padding-left: 5px;
		margin-top: 5px;
		margin-bottom: 5px;
	}
	
	header div.header-container span.header-right {
		padding: 5px;
	}
	
	/* nav */
	nav {
		background-color: #DDD;
		width: 100%;
	}
	
	nav div.nav-container {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	
	nav ul {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
		padding: 0;
	}
	
	nav li {
		line-height: 50px;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		
	}
	
	nav li:hover  {
		background-color: #FFF;
	}
	
	/* main */
	main {
		width: 100%;
	}
	
	main div.container {
		width: 800px;
		min-height: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	
	main div.container h1 {
		padding-left: 20px;
	}
	
	/* 标准体系结构 */
	main div.container div.list {
		display: flex;
		justify-content: flex-start;
	}
	
	main div.container div.list img.stdimage {

	}
	
	main div.container div.list ul.list {
		width: 50%;
	}
	
	/* 信息 */
	main div.container div.info-container {
		padding-left: 20px;
		padding-right: 20px;
	}
	
	main div.container div.info-container span.back {
		color: #00F;
	}
		
	/* 输入部分，用于登录 */	
	main div.container div.input-area {
		width: calc(100% - 80px);
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	main div.container div.input-area label {
		width: 200px;
		line-height: 30px;
		margin-bottom: 10px;
		display: inline-block;
		text-align: right;
	}
	
	main div.container div.input-area input {
		line-height: 26px;
		height: 26px;
		margin-bottom: 10px;
		width: 300px;
		border: 1px solid #CCC;
	}
	
	main div.container div.input-area select {
		line-height: 26px;
		width: 100px;
		height: 30px;
		margin-bottom: 10px;
		margin-right: 10px;
		border: 1px solid #CCC;
	}
	
	main div.container div.flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	main div.container div.flex span{
		margin-right: 10px;
		margin-bottom: 10px;
	}
	
	main div.container div.flex button {
		height: 30px;
		background-color: #BBB;
		border: 1px solid #BBB;
		margin-bottom: 10px;
		margin-left: 10px;
		cursor: pointer;
	}
	
	
	main div.container div.search-result-area {
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 10px;
	}
	
	main div.container div.search-result-area div.pagenum {
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	
	main div.container div.search-result-area div.pagenum button {
		height: 30px;
		background-color: #BBB;
		border: 1px solid #BBB;
		margin-top: 10px;
		margin-left: 10px;
		margin-right: 10px;
		cursor: pointer;
	}
	
	main div.container div.search-result-area div.pagenum span {
		margin-top: 10px;
	}
	
	main div.container div.error-info {
		line-height: 30px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		color: #F00;
	}
	
	main div.container div.info {
		line-height: 30px;
		width: 700px;
		margin-left: auto;
		margin-right: auto;
		color: #F00;
	}
	
	main div.container div.success-info {
		line-height: 30px;
		width: 400px;
		margin-left: auto;
		margin-right: auto;
		color: #00F;
	}
	
	main div.container div.submit-area {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 10px;
	}
	
	main div.container div.submit-area button {
		width: 200px;
		height: 40px;
		font-size: 16px;
		border: 1px solid #999;
		border-radius: 5px;
		background-color: #EEE;
		color: #333;
		cursor: pointer;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	main div.container div.submit-area button.submit {
		border: 1px solid #12cc12;
		background-color: #FFF;
	}
	
	main div.container div.submit-area button.submit:hover {
		background-color: #12cc12;
	}
	
	main div.container div.submit-area button.reset {
		border: 1px solid #fb5e5e;
		background-color: #FFF;
	}
	
	main div.container div.submit-area button.reset:hover {
		background-color: #fb5e5e;
	}
	
	main div.container div.submit-area button.back {
		border: 1px solid #BBB;
		background-color: #FFF;
	}
	
	main div.container div.submit-area button.back:hover {
		background-color: #BBB;
	}
	
	main div.container div.submit-area button.pagechange {
		border: 1px solid #386c90;
		background-color: #FFF;
	}
	
	main div.container div.submit-area button.pagechange:disabled {
		border: 1px solid #EEE;
		background-color: #EEE;
		color: #CCC;
	}
	
	
	main table {
		margin-left: auto;
		margin-right: auto;
		width: 700px;
		border: 1px solid #DDD;
		border-collapse: collapse;
	}
	
	main table tr.header {
		background-color: #CCC;
	}
	
	main table tr.focus:hover {
		background-color: #EEE;
		cursor: pointer;
	}
	
	main table td {
		height: 40px;
		border: 1px solid #DDD;
		margin: 0;
		padding: 10px;
	}
	
	main table td a {
		color: #386c90;
	}
	
	/* td input&textarea */
	main table td input {
		width: 100%;
	}
	
	main table td textarea {
		width: 100%;
		height: 100px;
	}
	
	main table td button {
		background-color: #386c90;
		color: #FFF;
		height: 30px;
		width: 100px;
		border-radius: 5px;
		border: 0;
		cursor: pointer;
	}
	
	main table select {
		line-height: 26px;
		height: 30px;
		border: 1px solid #CCC;
	}
	
	/* footer */
	footer {
		background-color: #333;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	footer div.footer-container {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		/* border-top: 1px solid #CCC; */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		color: #FFF;
	}
	
	footer div.copyright {
		width: 100%;
		display: inline-block;
	}
	
	footer div.date-time {
		width: 50%;
		display: inline-block;
		text-align: left;
		margin-top: 10px;
		font-size: 12px;
	}
	
	
	footer div.time {
		width: 50%;
		display: inline-block;
		text-align: right;
		margin-top: 10px;
		font-size: 12px;
	}
}
