/* 移动端上 */
@media(max-width: 420px) {
	div.footer {
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
	}
	
	div.footer-item {
		width: 100%;
	}
}

/* 普通显示 */
@media(min-width: 800px) {
	body {
		margin: 0;
	}
	
	/* a标签修改 */
	a {
		text-decoration: none;
		color: inherit;
	}
	
	a:hover {
		text-decoration: underline;
	}
	
	/* header */
	header {
		width: 100%;
		background-color: #888;
		color: #FFF;
		padding-top: 5px;
		padding-bottom: 5px;
	}
	
	header div.header-container {
		margin-left: auto;
		margin-right: auto;
		line-height: 20px;
		font-size: 12px;
		width: 800px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	header div.header-container span.header-left {
		padding-left: 5px;
	}
	
	/* nav */
	nav {
		background-color: #DDD;
		width: 100%;
	}
	
	nav div.nav-container {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
	}
	
	nav ul {
		margin-top: 0;
		margin-bottom: 0;
		list-style: none;
		padding: 0;
	}
	
	nav li {
		line-height: 50px;
		display: inline-block;
		padding-left: 5px;
		padding-right: 5px;
		
	}
	
	nav li:hover  {
		background-color: #999;
	}
	
	/* main */
	main {
		width: 100%;
	}
	
	main div.container {
		width: 800px;
		min-height: 400px;
		margin-left: auto;
		margin-right: auto;
	}
	
	main div.container h1 {
		padding-left: 20px;
	}
	
	main div.container div.input-area {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 40px;
		padding-right: 40px;
	}
	
	main div.container div.input-area label {
		width: 200px;
		line-height: 30px;
		margin-bottom: 10px;
		display: inline-block;
		text-align: right;
	}
	
	main div.container div.input-area input {
		line-height: 30px;
		margin-bottom: 10px;
		width: 350px;
	}
	
	main div.container div.submit-area {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	main div.container div.submit-area button {
		width: 200px;
		height: 40px;
		font-size: 16px;
		border: 1px solid #999;
		border-radius: 5px;
		background-color: #EEE;
		color: #333;
		cursor: pointer;
		margin-left: 5px;
		margin-right: 5px;
	}
	
	main div.container div.submit-area button.submit {
		border: 1px solid #0B0;
	}
	
	main div.container div.submit-area button.submit:hover {
		background-color: #0B0;
	}
	
	main div.container div.submit-area button.reset {
		border: 1px solid #B00;
	}
	
	main div.container div.submit-area button.reset:hover {
		background-color: #B00;
	}
	
	/* footer */
	footer {
		background-color: #333;
		width: 100%;
		padding-top: 20px;
		padding-bottom: 20px;
	}
	
	footer div.footer-container {
		margin-left: auto;
		margin-right: auto;
		width: 800px;
		/* border-top: 1px solid #CCC; */
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		color: #FFF;
	}
	
	footer div.copyright {
		width: 50%;
		display: inline-block;
	}
	
	footer div.date-time {
		width: 50%;
		display: inline-block;
		text-align: right;
	}
	
	footer div.browser {
		margin-top: 10px;
		font-size: 12px;
	}
}
